* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  background-color: #cafdff;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
}

.list {
  display: flex;
  list-style-type: none;
}

.listitems {
  padding: 10px;
  font-weight: bold;
}

.fes {
  width: 300px;
}

.header {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eadcff;
}

.initial {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  justify-content: center;
}

.width__manager--desc {
  width: 50%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.fig {
  width: 40%;
}

.fig1 {
  width: 100%;
}

.genh {
  font-size: 28px;
  margin-bottom: 16px;
}

h1 {
  text-align: center;
  padding: 0 10px;
}

.genp {
  font-size: 24px;
  line-height: 1.5;
  padding: 15px;
}

.row {
  width: 100%;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px;
  font-size: 18px;
  background-color: bisque;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*
about
*/

#about {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #f8ffdc;
}

.sideside {
  padding-top: 15px;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.section__paras {
  padding: 15px 30px 15px 30px;
  font-size: 24px;
  width: 100%;
  max-width: 600px;
  line-height: 1.5;
}

.section__figs {
  margin-top: 10px;
  padding-left: 20px;
  width: 100%;
  max-width: 300px;
}

.section--image {
  width: 100%;
}

/*
discord
*/

#discord {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #cefeff;
}

/*
forms
*/

#forms {
  padding-top: 20px;
  padding-bottom: 30px;
  line-height: 1.5;
  background-color: #dce9ff;
}

.formscenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form--details {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  line-height: 2;
}

.forms--button {
  margin-top: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: bisque;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

/*
footer
*/

#footer {
  background-color: aquamarine;
  padding: 20px;
}

.footer__desc {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.footer__logo {
  width: 100%;
  max-width: 500px;
}

.footer__logo--img {
  width: 100%;
}

.footer__header {
  font-size: 24px;
}

.footer__anchors {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.footer--anchor {
  padding-right: 10px;
  font-weight: bold;
}
